@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);


.pokedex-view {
  text-align: center;
  font-family: "Pokemon";
  color: rgb(228, 228, 6);
  text-shadow: 3px 3px 0 #0261c6, -1px -1px 0 #0261c6, 1px -1px 0 #0261c6,
    -1px 1px 0 #0261c6, 1px 1px 0 #0261c6;
}