
Card.Image {
    display: none;
}

#encounterImage {
    background-image: url("../../img/pokemongrassback.png");
}

#alertWindow {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}